*.class

# Package Files #
*.jar
*.war
*.ear

#Binary files
LocalApplication/bin/
Manager/bin/
Worker/bin/

#Credentials
LocalApplication/src/AwsCredentials.properties
Manager/src/AwsCredentials.properties
Worker/src/AwsCredentials.properties

#Configurations
settings/
.classpath
.project
